<!DOCTYPE html>
<html>
	<head>
		<title>Grunt App Template</title>
		<link rel="stylesheet" href="styles/app.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body class="{{class}}">
		{{>body}}
		<script src="scripts/combined.min.js"></script>
	</body>
</html>